# BIN PACKING PROBLEM

# Two dimesional
<font color='grass'>
Next we consider the problem to be rwo dimensional. Only one dimension of the item is fixed, for example height, whilst the other two dimensions - width and length -are variable.
</font>

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math 
import csv as csv

### Read-in and check data

In [2]:
items_2D = 'items2D'
bins_2D = 'bins2D'
result = 'result_2D'

def read_data(fileName):
    df = pd.read_csv(fileName)
    return df
    
def check_packaging(df):
    rows, cols = df.shape #size of the data set
    return (rows, cols)

def data_check(df, n=3):
    df_top_n = df.head(n)
    return (df_top_n)

def check_ns(df):
    ns = df.describe()
    return ns

### ITEM DATA:

In [3]:
df_items = read_data('%s.csv'%items_2D)
print("rows(%s) x cols(%s) "%check_packaging(df_items))
print()
print("%s"%data_check(df_items))
print()
print(check_ns(df_items))
print()
df_items.set_index('item')

rows(7) x cols(4)

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN

           item    x_size    y_size  bin
count  7.000000  7.000000  7.000000  0.0
mean   3.000000  3.000000  2.428571  NaN
std    2.160247  1.632993  2.507133  NaN
min    0.000000  1.000000  1.000000  NaN
25%    1.500000  2.000000  1.000000  NaN
50%    3.000000  3.000000  2.000000  NaN
75%    4.500000  3.500000  2.000000  NaN
max    6.000000  6.000000  8.000000  NaN

      x_size  y_size  bin
item
0          4       2  NaN
1          3       1  NaN
2          6       8  NaN
3          3       2  NaN
4          2       1  NaN
5          1       1  NaN
6          2       2  NaN

### Vehicle / Bin data:

In [4]:
df_vehicles = read_data('%s.csv'%bins_2D)
print("VEHICLE DETAILS:")
print("rows(%s) x cols(%s) "%check_packaging(df_vehicles))
print()
print("%s"%data_check(df_vehicles))
print()
print(check_ns(df_vehicles))
print()
df_vehicles.set_index('bin')

VEHICLE DETAILS:
rows(3) x cols(5)

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

       bin  x_size    y_size  av_x_space  av_y_space
count  3.0     3.0  3.000000         3.0    3.000000
mean   1.0     7.0  4.666667         7.0    4.666667
std    1.0     2.0  1.527525         2.0    1.527525
min    0.0     5.0  3.000000         5.0    3.000000
25%    0.5     6.0  4.000000         6.0    4.000000
50%    1.0     7.0  5.000000         7.0    5.000000
75%    1.5     8.0  5.500000         8.0    5.500000
max    2.0     9.0  6.000000         9.0    6.000000

     x_size  y_size  av_x_space  av_y_space
bin
0         9       6           9           6
1         5       3           5           3
2         7       5           7           5

In [5]:
df_result = read_data('%s.csv'%result)
print("Result DETAILS:")
print("rows(%s) x cols(%s) "%check_packaging(df_result))
print()
print("%s"%data_check(df_result))
print()
print(check_ns(df_result))
print()
df_result.set_index('algorithm')

Result DETAILS:
rows(4) x cols(5)

   algorithm  number_bins  unused_bins  max_filled_bins  partial_filled_bins
0  first_fit          NaN          NaN              NaN                  NaN
1   next_fit          NaN          NaN              NaN                  NaN
2   best_fit          NaN          NaN              NaN                  NaN

       number_bins  unused_bins  max_filled_bins  partial_filled_bins
count          0.0          0.0              0.0                  0.0
mean           NaN          NaN              NaN                  NaN
std            NaN          NaN              NaN                  NaN
min            NaN          NaN              NaN                  NaN
25%            NaN          NaN              NaN                  NaN
50%            NaN          NaN              NaN                  NaN
75%            NaN          NaN              NaN                  NaN
max            NaN          NaN              NaN                  NaN

           number_bins  unused_bins  max_filled_bins  partial_filled_bins
algorithm
first_fit          NaN          NaN              NaN                  NaN
next_fit           NaN          NaN              NaN                  NaN
best_fit           NaN          NaN              NaN                  NaN
worst_fit          NaN          NaN              NaN                  NaN

# GREEDY APPROACH

## Fit algorithms:  
### First-fit algorithm:

In [13]:
def first_fit_2D(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size_x = df_items.loc[i,'x_size']
        item_size_y = df_items.loc[i,'y_size']
        while j<= number_of_bins and item_allocated == False:
            available_bin_space_x = df_vehicles.loc[j,'av_x_space']
            available_bin_space_y = df_vehicles.loc[j,'av_y_space']
            if available_bin_space_x >= item_size_x and available_bin_space_y >= item_size_y: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_x #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_y #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num#set the allocated bin for the item
            elif available_bin_space_x >= item_size_y and available_bin_space_y >= item_size_x: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_y #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_x #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num#set the allocated bin for the item
            elif available_bin_space_x < item_size_x or available_bin_space_y < item_size_y: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.loc[i,'bin'] = np.nan
    return df_items, df_vehicles

In [33]:
#counts the number of unused bins after allocating  items
def unused_bin_2D(df_vehicles):
    number_of_bins = df_vehicles.shape[0]
    count = 0
    for i in range(number_of_bins):
        if df_vehicles.loc[i, 'x_size'] == df_vehicles.loc[i, 'av_x_space'] and df_vehicles.loc[i, 'y_size'] == df_vehicles.loc[i, 'av_x_space']:
            count = count + 1
        else:
            count = count 
            return count

#bin summary
def bin_summary_2D(df_vehicles):
    number_of_bins = df_vehicles.shape[0]
    unused = 0
    partial = 0
    max_fill = 0
    for i in range(number_of_bins):
        av_space_x = df_vehicles.loc[i, 'av_x_space']
        av_space_y = df_vehicles.loc[i, 'av_y_space']
        bin_size_x = df_vehicles.loc[i, 'x_size']
        bin_size_y = df_vehicles.loc[i, 'y_size']
        if av_space_x == bin_size_x and av_space_y == bin_size_y:
            unused = unused + 1
        elif av_space_x == 0 and av_space_y == 0:
            max_fill = max_fill +1
        elif (av_space_x < bin_size_x and av_space_x!=0) or (av_space_y < bin_size_y and av_space_y!=0):
            partial = partial+1
    
    print("Number of bins : %d" %(number_of_bins))
    print("Number of partial filled bins : %d" %(partial))
    print("Number of unused bins : %d" %(unused))
    print("Number of max filled bins : %d" %(max_fill))
            
    return number_of_bins,unused,max_fill, partial

#number of items not accounted for
def unpacked_items(df_items):
    number_of_items = df_items.shape[0]
    not_packed = 0
    for i in range(number_of_items):
        if df_items.loc[i, 'bin'] == nan:
            not_packed = not_packed +1        
    return not_packed

In [34]:
list(df_vehicles)

['bin', 'x_size', 'y_size', 'av_x_space', 'av_y_space']

#### First-fit algorithm: UNSORTED LISTS

In [35]:
df_items_copy1 = df_items.copy()
df_items_copy1

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     5       1       1  NaN
6     6       2       2  NaN

In [36]:
df_vehicles_copy1 = df_vehicles.copy()
df_vehicles_copy1

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

In [37]:
df_items_copy1, df_vehicles_copy1 = first_fit_2D(df_items_copy1, df_vehicles_copy1)
number_unused_vehicles1 = unused_bin_2D

In [38]:
print('Item allocation to bins:')
df_items_copy1

Item allocation to bins:

   item  x_size  y_size  bin
0     0       4       2  0.0
1     1       3       1  0.0
2     2       6       8  NaN
3     3       3       2  0.0
4     4       2       1  1.0
5     5       1       1  1.0
6     6       2       2  2.0

In [39]:
print('Remaining space in bins:')
df_vehicles_copy1

Remaining space in bins:

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           0           0
1    1       5       3           2           1
2    2       7       5           5           3

In [40]:
df_result #project results like this

   algorithm  number_bins  unused_bins  max_filled_bins  partial_filled_bins
0  first_fit          NaN          NaN              NaN                  NaN
1   next_fit          NaN          NaN              NaN                  NaN
2   best_fit          NaN          NaN              NaN                  NaN
3  worst_fit          NaN          NaN              NaN                  NaN

In [41]:
bin_summary_2D(df_vehicles_copy1)

Number of bins : 3
Number of partial filled bins : 2
Number of unused bins : 0
Number of max filled bins : 1

(3, 0, 1, 2)

#### First-fit algorithm:  DESCENDING SORTED LISTS of bins and items.

In [42]:
df_items_copy2 = df_items.copy()
df_items_copy2 = df_items_copy2.sort_values(by='x_size', ascending=0)
df_items_copy2 = df_items_copy2.reset_index(drop=True)#NOTE: We reset the index otherwise index items as original set, the item number and index value are now different!
df_items_copy2

   item  x_size  y_size  bin
0     2       6       8  NaN
1     0       4       2  NaN
2     1       3       1  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     6       2       2  NaN
6     5       1       1  NaN

In [43]:
df_vehicles_copy2 = df_vehicles.copy()
df_vehicles_copy2 = df_vehicles_copy2.sort_values(by='x_size', ascending=0)#ordering by x size
df_vehicles_copy2 = df_vehicles_copy2.reset_index(drop=True)
df_vehicles_copy2.set_index('bin')
df_vehicles_copy2

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    2       7       5           7           5
2    1       5       3           5           3

In [44]:
df_items_copy2, df_vehicles_copy2 = first_fit_2D(df_items_copy2, df_vehicles_copy2)
number_unused_vehicles2 = unused_bin_2D(df_vehicles_copy2)

In [45]:
df_items_copy2

   item  x_size  y_size  bin
0     2       6       8  0.0
1     0       4       2  2.0
2     1       3       1  2.0
3     3       3       2  1.0
4     4       2       1  1.0
5     6       2       2  NaN
6     5       1       1  NaN

In [46]:
df_vehicles_copy2

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           1           0
1    2       7       5           0           2
2    1       5       3           0           0

#### First-fit algorithm: ASCENDING  SORTED item and bin list.

In [47]:
df_items_copy3 = df_items.copy()
df_items_copy3 = df_items_copy3.sort_values(by='x_size', ascending=1)
df_items_copy3 = df_items_copy3.reset_index(drop=True)
df_items_copy3

   item  x_size  y_size  bin
0     5       1       1  NaN
1     4       2       1  NaN
2     6       2       2  NaN
3     1       3       1  NaN
4     3       3       2  NaN
5     0       4       2  NaN
6     2       6       8  NaN

In [48]:
df_vehicles_copy3 = df_vehicles.copy()
df_vehicles_copy3 = df_vehicles_copy3.sort_values(by='x_size', ascending=1).reset_index(drop=True)
df_vehicles_copy3

   bin  x_size  y_size  av_x_space  av_y_space
0    1       5       3           5           3
1    2       7       5           7           5
2    0       9       6           9           6

In [49]:
df_items_copy3, df_vehicles_copy3 = first_fit_2D(df_items_copy3, df_vehicles_copy3)
number_unused_vehicles3 = unused_bin_2D(df_vehicles_copy3)

In [50]:
df_items_copy3

   item  x_size  y_size  bin
0     5       1       1  1.0
1     4       2       1  1.0
2     6       2       2  2.0
3     1       3       1  2.0
4     3       3       2  0.0
5     0       4       2  0.0
6     2       6       8  NaN

In [51]:
df_vehicles_copy3

   bin  x_size  y_size  av_x_space  av_y_space
0    1       5       3           2           1
1    2       7       5           2           2
2    0       9       6           2           2

In [52]:
bin_summary_2D(df_vehicles_copy3)

Number of bins : 3
Number of partial filled bins : 3
Number of unused bins : 0
Number of max filled bins : 0

(3, 0, 0, 3)

### Next-fit algorithm
Next Fit: After allocating first bin large enough to house the item, when looking at the next item to be allocated, find the next suitable bin from the current bin. NOT starting from the very first bin. Check from the next bin in a loop, and stop at the bin before the last allocated. Search space from current in a loop to the previous.

In [56]:
def next_fit_2D(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    j = 0
    for i in range(number_of_items):
        item_allocated = False
        item_size_x = df_items.loc[i,'x_size']
        item_size_y = df_items.loc[i,'y_size']
        while item_allocated == False and j<= number_of_bins:
            available_bin_space_x = df_vehicles.loc[j,'av_x_space']
            available_bin_space_y = df_vehicles.loc[j,'av_y_space']
            if available_bin_space_x >= item_size_x and available_bin_space_y >= item_size_y: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_x #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_y #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num #set the allocated bin for the item
                j_curr = j
            elif available_bin_space_x >= item_size_y and available_bin_space_y >= item_size_x: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_y #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_x #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num #set the allocated bin for the item
                j_curr = j
            elif available_bin_space_x < item_size_x or available_bin_space_y < item_size_y: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    j = 0
                    if j_curr == j:
                        item_allocated = True
                        df_items.loc[i,'bin'] = np.nan
                        j = j_curr
    return df_items, df_vehicles

In [57]:
df_items_copy4 = df_items.copy()
df_items_copy4

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     5       1       1  NaN
6     6       2       2  NaN

In [58]:
df_vehicles_copy4 = df_vehicles.copy()
df_vehicles_copy4

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

In [59]:
df_items_copy4, df_vehicles_copy4 = next_fit_2D(df_items_copy4, df_vehicles_copy4)

In [60]:
df_items_copy4

   item  x_size  y_size  bin
0     0       4       2  0.0
1     1       3       1  0.0
2     2       6       8  NaN
3     3       3       2  0.0
4     4       2       1  1.0
5     5       1       1  1.0
6     6       2       2  2.0

In [61]:
df_vehicles_copy4

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           0           0
1    1       5       3           2           1
2    2       7       5           5           3

In [62]:
bin_summary_2D(df_vehicles_copy4)

Number of bins : 3
Number of partial filled bins : 2
Number of unused bins : 0
Number of max filled bins : 1

(3, 0, 1, 2)

### Best-fit algorithm
Best Fit: Allocating item to a in such that there is minimum wastage of space is left in in the bin.

In [74]:
def best_fit_2D(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size_x = df_items.loc[i,'x_size']
        item_size_y = df_items.loc[i,'y_size']
        df_vehicles = df_vehicles.sort_values(by='x_size', ascending=1).reset_index(drop=True)#after each iteration, order bins as per min space, so less wastage
        while j<= number_of_bins and item_allocated == False:
            available_bin_space_x = df_vehicles.loc[j,'av_x_space']
            available_bin_space_y = df_vehicles.loc[j,'av_y_space']
            if available_bin_space_x >= item_size_x and available_bin_space_y >= item_size_y: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_x #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_y #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num#set the allocated bin for the item
            elif available_bin_space_x >= item_size_y and available_bin_space_y >= item_size_x: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_y #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_x #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num#set the allocated bin for the item
            elif available_bin_space_x < item_size_x or available_bin_space_y < item_size_y: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.loc[i,'bin'] = np.nan
    return df_items, df_vehicles

In [75]:
df_items_copy5 = df_items.copy()
df_items_copy5

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     5       1       1  NaN
6     6       2       2  NaN

In [76]:
df_vehicles_copy5 = df_vehicles.copy()
df_vehicles_copy5

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

In [77]:
df_items_copy5, df_vehicles_copy5 = best_fit_2D(df_items_copy5, df_vehicles_copy5)

In [78]:
df_items_copy5

   item  x_size  y_size  bin
0     0       4       2  1.0
1     1       3       1  2.0
2     2       6       8  0.0
3     3       3       2  2.0
4     4       2       1  2.0
5     5       1       1  1.0
6     6       2       2  NaN

In [79]:
df_vehicles_copy5

   bin  x_size  y_size  av_x_space  av_y_space
0    1       5       3           0           0
1    2       7       5           0           0
2    0       9       6           1           0

In [80]:
bin_summary_2D(df_vehicles_copy5)

Number of bins : 3
Number of partial filled bins : 1
Number of unused bins : 0
Number of max filled bins : 2

(3, 0, 2, 1)

### Worst-fit algorithm
Worst Fit: Allocating item to a bin such that there is maximum wastage of space is left in in the bin.

In [81]:
def worst_fit_2D(df_items, df_vehicles):
    number_of_items = df_items.shape[0]
    number_of_bins = df_vehicles.shape[0]
    for i in range(number_of_items):
        j = 0
        item_allocated = False
        item_size_x = df_items.loc[i,'x_size']
        item_size_y = df_items.loc[i,'y_size']
        df_vehicles = df_vehicles.sort_values(by='x_size', ascending=0).reset_index(drop=True)#after each iteration, order bins as per min space, so less wastage
        while j<= number_of_bins and item_allocated == False:
            available_bin_space_x = df_vehicles.loc[j,'av_x_space']
            available_bin_space_y = df_vehicles.loc[j,'av_y_space']
            if available_bin_space_x >= item_size_x and available_bin_space_y >= item_size_y: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_x #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_y #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num#set the allocated bin for the item
            elif available_bin_space_x >= item_size_y and available_bin_space_y >= item_size_x: #if adequate space in the bin for the item
                item_allocated = True
                df_vehicles.loc[j,'av_x_space'] = df_vehicles.loc[j,'av_x_space'] - item_size_y #update avialable space in x direction
                df_vehicles.loc[j,'av_y_space'] = df_vehicles.loc[j,'av_y_space'] - item_size_x #update avialable space in y direction 
                bin_num = df_vehicles.loc[j,'bin']
                df_items.loc[i,'bin'] = bin_num#set the allocated bin for the item
            elif available_bin_space_x < item_size_x or available_bin_space_y < item_size_y: #if NOT adequate space in the curr bin for the item
                #move to the next bin
                j = j+1 
                if j>=number_of_bins: #if none of the bins are large enough to house the item
                    item_allocated = True
                    df_items.loc[i,'bin'] = np.nan
    return df_items, df_vehicles

In [82]:
df_items_copy6 = df_items.copy()
df_items_copy6

   item  x_size  y_size  bin
0     0       4       2  NaN
1     1       3       1  NaN
2     2       6       8  NaN
3     3       3       2  NaN
4     4       2       1  NaN
5     5       1       1  NaN
6     6       2       2  NaN

In [83]:
df_vehicles_copy6 = df_vehicles.copy()
df_vehicles_copy6

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           9           6
1    1       5       3           5           3
2    2       7       5           7           5

In [84]:
df_items_copy6, df_vehicles_copy6 = worst_fit_2D(df_items_copy6, df_vehicles_copy6)

In [85]:
df_items_copy6

   item  x_size  y_size  bin
0     0       4       2  0.0
1     1       3       1  0.0
2     2       6       8  NaN
3     3       3       2  0.0
4     4       2       1  2.0
5     5       1       1  2.0
6     6       2       2  2.0

In [86]:
df_vehicles_copy6

   bin  x_size  y_size  av_x_space  av_y_space
0    0       9       6           0           0
1    2       7       5           2           1
2    1       5       3           5           3

In [87]:
bin_summary_2D(df_vehicles_copy6)

Number of bins : 3
Number of partial filled bins : 1
Number of unused bins : 1
Number of max filled bins : 1

(3, 1, 1, 1)